
name: CI Dotnet

on:
  push:
   branches:
     - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Dotnet SetUp
      uses: actions/setup-dotnet@v5

    - name: dotnet build
      run: dotnet build ./MyConsoleApp/MyConsoleApp.csproj --configuration Release